.profile{
  max-width: 250px;
  padding-left: 10px;
}

@media (max-width: 750px) {
  .profile{
    padding-left: 0px;
  }
}

.email{
  text-decoration: none;
  color: white;
}
.icon{
  padding:5px 20px 5px 0px;
}
.talksPic{
  max-width: 300px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 0px 0px #0a6cad;
}

.projectsPic{
  max-width: 300px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 0px 0px #1c0b6e;
}

.anchorButton{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: white;
  border-width: 20px;
  border-color: yellow;
  color:#282c34;

  padding: 2px 10px 2px 10px;
  margin-right: 20px;
  transition: 0.3s;
}

.anchorButtonEnd{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: white;
  border-width: 20px;
  border-color: yellow;
  color:#282c34;

  padding: 2px 10px 2px 10px;
  margin-right: 0px;
  transition: 0.3s;
}

.anchorButton:hover{
  background-color: #9ac8e6;
}

.watch{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: white;
  color: #282c34;

  padding: 2px 4px 2px 4px;
  transition: 0.3s;
}

.watch:hover{
  background-color: #9ac8e6;
}

.projectsLink{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  background-color: white;
  color: #282c34;
  margin-right: 10px;

  padding: 2px 4px 2px 4px;
  transition: 0.3s;
}

.projectsLink:hover{
  background-color: #9c8de3
}
.name{
  color: white;
}

.name:hover{
  color: #63cdda;
}
