.talksTilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.talksTilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 23px;
}

.talksTilt .shape-fill {
    fill: #000033;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .talksTilt svg {
        width: calc(100% + 1.3px);
        height: 28px;
    }
}

.headerTilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.headerTilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

.headerTilt .shape-fill {
    fill: #341F97;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .headerTilt svg {
        width: calc(100% + 1.3px);
        height: 50px;
    }
}

.aboutTilt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.aboutTilt svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
    transform: rotateY(180deg);
}

.aboutTilt .shape-fill {
    fill: #000033;
}
