.talksFlex{
background-color: #2980b9; /*206ea1; 341f97;*/
display: flex;
flex-flow: row wrap;
justify-content: center;
border-radius: 2px;
padding-top:10px;
padding-bottom:10px;
margin-bottom: 20px;
}


.iconsFlex{
  display: flex;
  flex-flow: row wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}
