.introBox h1{
  font-size: 2.5em;
  margin-block-start: .2em;
  margin-block-end: .2em;
}
.introBox p{
margin-block-start: .3em;
margin-block-end: .3em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}